:root {
    /* colors */

        /* primary */
            --light-cyan: hsl(193, 38%, 86%);
            --neon-green: hsl(150, 100%, 66%);

        /* neutral */
            --ntrl-min: hsl(0, 0%, 100%);
            --grayish-blue: hsl(217, 19%, 38%);
            --dark-grayish-blue: hsl(217, 19%, 24%);
            --dark-blue: hsl(218, 23%, 16%);

    /* fonts */

        /* font-size */
            --fs-sm: 1.2rem;
            --fs-base: 1.4rem;
            --fs-md: 2.4rem;
            --fs-lg: 2.8rem;

        /* font-family */
            --ff-primary: 'Manrope', sans-serif;

        /* font-weight */
            --fw-xl: 800;

    /* box-shadow */
        --box-shadow-one: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-height: 100dvh;

    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    min-height: 100dvh;
    padding: 0 2rem;

    color: var(--light-cyan);
    background: var(--dark-blue);

    font-family: var(--ff-primary);
}

.card-advice {
    display: grid;
    justify-items: center;
    gap: 2.4rem;

    position: relative;

    padding: 3.9rem 2rem 6.4rem;
    max-width: 54rem;

    background: var(--dark-grayish-blue);

    text-align: center;

    border-radius: 1.5rem;
    box-shadow: var(--box-shadow-one);
}

.card-advice__infos {
    display: grid;
    gap: 2.4rem;
}

.card-advice__text {
    font-size: var(--fs-md);
    letter-spacing: -.24px;
}

.card-advice__pattern {
    position: relative;

    width: 100%;
    height: 1.6rem;

    overflow: hidden;
}

.card-advice__pattern img {
    display: block;

    position: absolute;
    left: 50%;

    transform: translate(-50%);
}

.card-advice__btn {
    position: absolute;
    bottom: 0;

    justify-self: center;
    transform: translateY(50%);
}

.primary-title {
    color: var(--neon-green);

    font-size: var(--fs-sm);
    text-transform: uppercase;
    letter-spacing: 3px;
}

.btn {
    border: 0;
    cursor: pointer;
}

.btn--primary {
    display: flex;
    padding: 2rem;

    background: var(--neon-green);

    border-radius: 50%;
    transition: filter 250ms;
}

.btn--primary:hover { filter: brightness(75%); }

@media screen and (min-width: 48em) {
    .card-advice {
        gap: 4rem;
        padding: 4.7rem 4.8rem 7.2rem;
    }

    .card-advice__text {
        font-size: var(--fs-lg);
        letter-spacing: -.28px;
    }

    .primary-title {
        font-size: var(--fs-base);
        letter-spacing: 3.5px;
    }
}