:root {
    /* colors */

        /* primary */
            --light-cyan: hsl(193, 38%, 86%);
            --neon-green: hsl(150, 100%, 66%);

        /* neutral */
            --ntrl-min: hsl(0, 0%, 100%);
            --grayish-blue: hsl(217, 19%, 38%);
            --dark-grayish-blue: hsl(217, 19%, 24%);
            --dark-blue: hsl(218, 23%, 16%);

    /* fonts */

        /* font-size */
            --fs-sm: 1.2rem;
            --fs-base: 1.4rem;
            --fs-md: 2.4rem;
            --fs-lg: 2.8rem;

        /* font-family */
            --ff-primary: 'Manrope', sans-serif;

        /* font-weight */
            --fw-xl: 800;

    /* box-shadow */
        --box-shadow-one: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    min-height: 100dvh;

    font-size: 62.5%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    min-height: 100dvh;
    padding: 0 2rem;

    color: var(--light-cyan);
    background: var(--dark-blue);

    font-family: var(--ff-primary);
}